## Blazor WebAssembly .gitignore

# Build results
bin/
obj/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio files
.vs/
*.userprefs
*.pidb
*.booproj

# Rider
.idea/

# OS
.DS_Store
Thumbs.db

# NuGet
*.nupkg
packages/
project.lock.json
project.fragment.lock.json
artifacts/

# Logs
*.log
